.image-carousel {
  width: 100%;
  max-width: 600px;
  height: 400px;
  margin: 20px 0;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: relative;
}

.image-carousel h2 {
  text-align: center;
}

.image-carousel img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
  transition: transform 0.3s ease;
}

.image-carousel img:hover {
  transform: scale(1.05);
}

.carousel-controls {
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 10px;
}

.next-button {
  background-color: rgba(74, 144, 226, 0.8);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.next-button:hover {
  background-color: rgba(53, 122, 184, 0.8);
}
